<h1>All the Bakeries</h1><hr>

<div class="list_info">
    <% @bakeries.each do |bakery| %>
        <li id="bakery_list">
            <%= link_to bakery.name, bakery_path(bakery) %>
        </li>
    <% end %>
</div>
<hr>
<footer> Logged in As: <%= link_to session[:name], customer_path(session[:id])%> 
<%= button_to "Logout", {controller: 'sessions', action: 'destroy'}, method: 'delete' %>
</footer>