<h1>Welcome to Hot and Fresh!</h1><hr>

<h2><%= link_to "View Bakeries", bakeries_path %></h2>

<h2><%= link_to "Sign In Here", sign_in_path%></h2>

<h2><%=link_to "Don't have an account? Create one!", new_customer_path   %></h2>
